.scanbar {
    display: flex;
    padding: 0.7rem 0.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #232323;
    z-index: 1001;
    padding-bottom: calc(var(--safe-bottom) + 0.7rem);
}

.leftcontent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}