.scanbar {
    display: flex;
    padding: 0.7rem 0.5rem;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    background: #232323;
    z-index: 1001;
    margin-bottom: 4rem;
}