.labelledtextrows {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: flex-start;
    align-self: stretch;
}

.baginfo {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}