.labelledtextwithicon {
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
    width: 100%;
}

.labelledtext {
    display: flex;
    flex-direction: column;
    width: 100%
}

.iconwrapper-regular {
    width: 2rem;
    height: 2rem;
}

.iconwrapper-large {
    width: 2rem;
    height: 2.2rem;
}