.labelledtextwithicon {
    display: flex;
    gap: 0.25rem;
    align-items: flex-end;
}

.iconwrapper-regular {
    width: 2rem;
    height: 2rem;
}

.iconwrapper-large {
    width: 2rem;
    height: 2.2rem;
}