.label {
    font-size: 0.75rem;
    font-weight: 700;
}

.label-primary {
    color: var(--MC-Primary);
}

.label-white {
    color: var(--MC-White);
}

.text-fill {
    width: 100%;
}

.text-black {
    color: var(--MC-Black);
}

.text-success {
    color: var(--MC-Success);
}

.text-error {
    color: var(--MC-Error)
}

.text-white {
    color: var(--MC-White);
}

.text-regular {
    font-size: 1.375rem;
    font-weight: 400;
}

.text-large {
    font-size: 1.875rem;
    font-weight: 700;
}

.pagetitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--MC-White);
}