.text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-fill {
    width: 100%;
}

.text-black {
    color: var(--MC-Black);
}

.text-success {
    color: var(--MC-Success);
}

.text-error {
    color: var(--MC-Error)
}

.text-white {
    color: var(--MC-White);
}

.text-regular {
    font-size: 1.375rem;
    font-weight: 400;
}

.text-large {
    font-size: 1.875rem;
    font-weight: 700;
}